<link rel="stylesheet" type="text/css" href="../css/contactStyle.css">

<div class="contactUs"><h1>We value your opinion!</h1>
	<h3>Your comments and suggestions will help us provide the best customer service possible.  If you have any questions or business inquries expect a response from us within 3 business days.</h3>
</div>



<form method="POST" action="/contact">
	<p>
		<label for="name">Name:</label>
		<input name="name" type="text" />

	</p>
	<p>
		<label for="email">Email:</label>
		<input name="email" type="text" />
	</p>
	<p>
		<label for="message">Message:</label>
		<textarea style="margin-top:0;margin-bottom:0;width:190px;height:60px;" cols="21" rows="5" name="comments"></textarea>
	</p>
	<p><input type="submit"></p>
</form>

<div class="endspace"></div>

