
<div class="contactUs">
	<h1>We value your opinion!</h1>
	<hr>

	<div class = "formBox">
		<h1>Contact Form</h1>
		<form method="POST" action="/contact">
			<p>
				<label for="name">Name:</label>
				<input name="name" type="text" />

			</p>
			<p>
				<label for="email">Email:</label>
				<input name="email" type="text" />
			</p>
			<p>
				<label for="message">Message:</label>
				<textarea style="margin-top:0;margin-bottom:0;width:190px;height:60px;" cols="21" rows="5" name="comments"></textarea>
			</p>
			<p><input type="submit"></p>
		</form>
	</div>

	<div class = "opinionText">
	<h1>You Matter</h1>
	<p>Your comments and suggestions will help us provide the best customer service possible. We take pride in our service and feel that all your satisfactions should be met 100%! If for any reason you feel you are not 100% satisfied please fill out our contact form to the left. We have a team ready to assist you at any time! Thank you for choosing Sprink Ink Inc. as your primary luxury pen dealer.</p>
	<p id = "sInk">- The Sprinkle Ink Team</p>
	</div>

</div>

<div class="endspace"></div>


</div>
