<link rel="stylesheet" type="text/css" href="../css/homeStyle.css">
<script src="../js/homeScript.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
<script src="../js/jquery.bxslider.min.js"></script>
<!-- bxSlider CSS file -->
<link href="../js/jquery.bxslider.css" rel="stylesheet" />

<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
  auto: true,
  controls: false

});
});
</script>




<img src="../images/jumbotron.jpg" style="border-bottom:2px #C0C0C0 solid; width: 100%">
	<div class="featuredcollection">
		<h3>Our new featured collection: Sprinkle Space</h3>
			<img src="../images/featuredcollection.jpg" alt="featured" id="effect">
		<h4>Check these out in our collection!</h4>
    </div>
<hr width="100%">
<div class="popularpenshead">
<h3>Browse some of our most popular pens<p>or check out our whole collection!</h3>

<ul class="bxslider">
  <li><img src="../images/homepen1.jpg" title="" /></li>
  <li><img src="../images/homepen2.jpg" title="" /></li>
  <li><img src="../images/homepen3.jpg" title="" /></li>
</ul>


	<!--<img src="../images/homepen1.jpg">
	<img src="../images/homepen2.jpg">
	<img src="../images/homepen3.jpg">
	<img src="../images/homepen4.jpg">-->

	</div>
</div>
