<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="../css/inkStyle.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/aboutStyle.css">
		<link rel="stylesheet" type="text/css" href="../css/contactStyle.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="../images/favicon.ico" rel="icon" type="image/x-icon" />
	<title><%= @title %></title>
	</head>
		<body>
			<% links = {'Home |' => '/', 'Our Collection |' => '/signaturePens', 'Contact |' => '/contact', 'About Us' => '/aboutus'} %>
		<nav>
		<div class="companyName"><img src="../images/siLogo.png" alt="SprinkleInkLogo"></div>
			<ul>
				<% for key, value in links do %>
					<li><a href='<%= value %>'><%= key %></a></li>

				<% end %>
			</ul>
		</nav>
		
			<%= yield %>
			<footer>
				<div class="contact"><p class="motto">"A pen company with a dash of class!"</p><br><p>© 2015 Sprinkle Ink Inc.</p></div>
				<div class="hr">
				<hr align="center" />
				</div>
				<i class="icon-camera-retro icon-2x"></i>
				<i class="icon-twitter icon-2x"></i>
				<i class="icon-facebook-sign icon-2x"></i>
			</footer>

		</body>
		
</html>