.aboutContent{
	width: 900px;
	height: 100%;
	margin: 0 auto;
	padding-top: 95px;
	padding-bottom: 25%;

}


.aboutContent img {

	/*border: 1px solid black;*/
	float: left;
	margin-right: 5px;
}

.grouppic {
	padding-right: 20px;
}

.aboutContent p {
	text-align: justify;
	
}

.aboutContent h1 {
	text-align: center;
}


.aboutSprinkleLogo {
	display: inline-block;
	margin: 0 auto;


}

.aboutSprinkleLogo img {
	padding: 20px;
	border:none;


}

.logoLeft {
	margin-left: 9px;
}
.teamStory {
	padding-top: 50px;
}