.collectionBody {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding-top: 10%;
	padding-bottom: 100%;
}

.collectionBody ul {
	text-align: center;
	padding: 20px;

}

.collectionBody li {
	height: 350px;
	width: 200px;
	display: inline-block;
	border: 1px solid black;
	padding:20px;
	margin-left: 10px;
	margin-right:20px;

}

.collectionBody li img {
	height: 100px;
	width: 100px;
}

.collectionsHeader{
	margin: 0 auto;
	text-align: center;
	width: 900px;
}

.collectionsHeader h1 {
	padding-bottom: 10px;
}