.thankYouMsg {
	padding-top: 95px;
	font-size: 15px;

}

.contactUs {
	padding-top: 95px;
	/*font-size: 15px;*/
	width: 900px;
	height: 74%;
	margin: 0 auto;
	font-weight: 200;
	
}

.contactUs hr {
	margin-bottom: 70px;
}

.contactUs h1 {
	text-align: center;
}

.formBox, .opinionText{
	/*border: 1px black solid;*/
	height: 300px;
	width: 400px;
	float: left;
	padding: 15px;

}

.formBox h1{
	padding-bottom: 10px;

}



.opinionText {
	margin-left: 20px;
	font-size: 1.3em;
	text-align: justify;

}

.opinionText h1 {
	margin-bottom: 40px;
}

#sInk{
	text-align: right;

}

