body{
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
nav{
	color: #FFFFFF;
	height:75px;
	background-color: black;
	width: 100%;
	position: fixed;
	padding-top: 20px;
	border-bottom: 2px solid #C0C0C0;
	font-weight: 200;
	z-index: 1;
}
footer{
	bottom:0;
	position: relative;
	background-color: black;
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	border-top: 2px solid #C0C0C0;
	padding-top: 15px;
	padding-bottom: 5px;
	font-weight: 200;
	z-index: 1;
}
.contact{
	padding-bottom: 5px;

}
.motto{
	font-size: 1.3em;
	margin-bottom: -15px;
}

.hr{
	width: 50%;
	margin:0 auto;
}

li{
	list-style: none;
	display: inline;
	padding-right: 15px;
}
ul{
	float: right;
	padding-right: 15px;
}
.companyName{
	font-size: 3em;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}

/* unvisited link */


a:link {
    color: #FFFFFF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

/* mouse over link */
 li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #FFFFFF;
    text-decoration: none;
}

